/* .appBg{
  background-image: url(./background);
  background-size: cover;
} */

.container{
    width: 100vw;
    height: 100vh;
    resize: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.inputContainer{
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.wrapper{
  width: 400px;
  height: 100vh;
  position: relative;
  background-color: #424B54;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  border-radius: 5px;
  overflow: auto;

}

.github{
  width: 100%;
  padding: 20px;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.form input{
  padding: 20px;
  width: 80%;
  background-color: white;
  color: var(--bg);
  border: none;
  border-radius: 5px;
}

.form button{
  padding: 20px;
  width: 80%;
  cursor: pointer;
  background-color: blue;
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

@media  (max-width : 1000px){
.wrapper{
  width: 100vw;
  height: 33vh;
  position: relative;
  background-color: #424B54;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border-radius: 5px;
  overflow: auto;

}

.inputContainer{
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.github{
  width: 100%;
  padding: 20px;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.form input{
  padding: 13px;
  min-width: 10rem;
  width: 13rem;
  background-color: white;
  color: var(--bg);
  border: none;
  border-radius: 5px;
}

.form button{
  padding: 20px;
  min-width: 50%;
  width: 28rem;
  cursor: pointer;
  background-color: blue;
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

}
